.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    gap: 6px;
    min-height: 50px;
    line-height: 1;
    padding: 0 20px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0);
    text-align: center;
    cursor: pointer;
    transition: background-color .4s ease,color .4s ease,opacity .4s ease,border-color .4s ease
}