.container {
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}
@media screen and (max-width: 1520px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 560px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 590px) {
  .container {
    max-width: 355px;
    padding: 0 10px;
  }
}